<h2>Registration Form</h2>

<form method="post" action="Registration">
    Username:<input type="text" name="UserName" />
    Password:<input type="password" name="Password"/>
    Email:<input type="email" name="Email" />
    Age:<input type="number" name="Age" />
    <input type="submit"/>


</form>